* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header{
    display: flex;
    justify-content:space-around;
    padding: 25px;
    background-color: rgba(111, 108, 108, 0.915);
    width: 100%;
    h1{
        color: whitesmoke;
    }
   
    ul{
        display: flex;
        gap: 50px;
        
    }
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 20px;

    }
}
.sub1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("https://cdn.pixabay.com/photo/2017/06/12/21/01/liege-2396802_640.jpg")
    no-repeat;
  background-size: cover;
  background-position: center;
}

.log {
  width: 600px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  /* backdrop-filter: blue(20px); */
  /* box-shadow: 0 0 10px rgb(0, 0, 0); */
  color: black;
  border-radius: 10px;
  /* padding: 30px 40px; */
}
.log h1 {
  font-size: 35px;
  text-align: center;
}
.log .user {
  position: relative;
  width: 200px;
  height: 40px;
  margin: 30px 0;
  border: 2px solid black;
  /* padding-left: 45px;
  padding-right: 45px; */
}
.int{
  display: flex;
  gap: 30px;
  margin-left: 50px;
}

.user  {
  width: 60%;
  height: 60%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 0px;
  padding-left: 22px;
  font-size: 20px;
  /* color: black; */
  
}
.user input::placeholder {
  color: black;
  
}
.user i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(-50%);
  font-size: 20px;
}
.log .for {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: -15px 0 15px;
}
.for label input {
  color: black;
  margin-right: 3px;
}
.for a {
  color: black;
  text-decoration: none;
}
.for a:hover {
  text-decoration: underline;
}
.log .btn {
  width: 40%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-left: 167px;
}
.log .reg {
  font-size: 15px;
  text-align: center;
  margin: 20px 0 15px;
}
.reg p a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.reg p a:hover {
  text-decoration: underline;
}
